version: '3.3'

services:
  db:
    restart: always
    image: postgres:12
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
    links:
      - db
    volumes:
      - .:/finantial_system
      - .:/app
      - node_modules:/app/node_modules
    ports:
      - "3000:3000"

volumes:
  db_data:
  node_modules:
