<!-- Modal -->
<div class="modal fade" id="paymentModal_<%= bill.id %>" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="paymentModalLabel">New Transaction for <%= bill.title %></h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'transactions/form', transaction: @transaction, url: "/bills/#{bill.id}/new_transaction" %>
      </div>
    </div>
  </div>
</div>