<!-- Modal -->
<div class="modal fade" id="paymentModal_<%= bill.id %>" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="paymentModalLabel"><%= t '.title', bill: bill.title %> </h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'transactions/form', object: @bill, url: bill_new_transaction_path(bill) %>
      </div>
    </div>
  </div>
</div>