<div class="col-md-12 col-sm-12  ">
  <div class="x_panel">
    <div class="x_title">
      <h2><i class="fa fa-arrows-h"></i> Nova Recorrência</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <%= render 'form', recurrence: @recurrence %>
    </div>
  </div>
</div>