<div class="dropdown dropleft">
  <%= link_to '#', class:'btn btn-outline-dark btn-sm btn-round', id:'dropdownActionButton', "data-toggle":"dropdown", "aria-haspopup":"true", "aria-expanded":"false" do %>
    <span class='icon'><i class='fa fa-sort-desc'></i></span>
  <% end %>
  <div class="dropdown-menu" aria-labelledby="dropdownActionButton">
    <%= link_to bill_path(bill), class:'dropdown-item', style:'font-size:15px;' do %>
      <span class='icon'><i class="fa fa-eye pull-right" style='font-size:18px;'></i></span> Editar
    <% end %>
    <%= link_to edit_bill_path(bill), class:'dropdown-item', style:'font-size:15px;' do %>
      <span class='icon'><i class="fa fa-pencil pull-right" style='font-size:18px;'></i></span> Editar
    <% end %>
  </div>
</div>
