<div class='' style='align-right'>
  <%= link_to "#", class:"btn btn-outline-light btn-sm my-sm-3", "data-toggle":"modal", "data-target":"#newTransactionModal", style:"width:270px" do %>
    <i class="fa fa-plus-square"></i> Nova Movimentação
  <% end %>

  <a class="btn btn-outline-light btn-sm my-2 my-sm-0" data-toggle="collapse" href="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseSearch">
    <span class='icon-bar'>
      <span class='fa fa-search'></span>
    </span>
  </a>
</div>
<div class='pos-l-b' style='position: relative; bottom: 0px; left: 0px;'>
  <%= form_with url: users_backoffice_transactions_path, method: :get, local: true, class:"collapse form-inline my-2 my-lg-0", id:"collapseSearch" do |form| %>
    <%= form.search_field :title, class:"form-control-sm mr-sm-2", style:"width:230px;", placeholder:"Pesquisar Movimentação" %>
    <%= form.submit 'Pesquisar', class:"btn btn-outline-light btn-sm my-2 my-sm-0" %>
  <% end %>
</div>
