<%= fontawesome_icon('', 'fa fa-bank', 'font-size: 45px;') %>
<h3 class="display-5">Sem conta ainda...</h3>
<p class="lead">Adicione a primeira aqui</p>
<%= modal_to_new_resource(' Adicionar Conta', target: '#newAccountModal', class_name: 'btn btn-outline-dark btn-sm btn-round btn-md', style_css: 'padding-x: 100px;') %>