<%= fontawesome_icon('', 'fa fa-refresh', 'font-size: 45px;') %>
<h3 class="display-5">Sem pagamento recorrente ainda...</h3>
<p class="lead"><%= t('add_first') %></p>
<%= link_to '#', class: 'btn btn-outline-dark btn-md btn-round', data: { toggle: 'modal', target: '#newBillModal' }, style: 'padding-x: 100px;' do %>
  <span class='icon'>
    <i class='fa fa-plus-circle'></i> <%= t('add_bill') %>
  </span>
<% end %>