<%= fontawesome_icon('', 'fa fa-piggy-bank', 'font-size: 45px;') %>
<h3 class="display-5">Sem metas ainda...</h3>
<p class="lead">Crie a sua primeiro aqui</p>
<%= link_to '#', class: 'btn btn-outline-dark btn-md btn-round', data: { toggle: 'modal', target: '#newBudgetModal' }, style: 'padding-x: 100px;' do %>
  <span class='icon'>
    <i class='fa fa-plus-circle'></i> Adicionar Orçamento
  </span>
<% end %>