<%= fontawesome_icon('', 'fa fa-money', 'font-size: 45px;') %>
<h3 class="display-5">Sem orçamentos ainda...</h3>
<p class="lead">Crie o seu primeiro aqui</p>
<%= modal_to_new_resource(' Add Orçamento', target: '#newBudgetModal', class_name: 'btn btn-outline-dark btn-round btn-md', style_css: 'padding-x: 100px;') %>