$web-money-orange: #FF8C00;
$web-money-red: #DC143C; // #FF4500
$web-money-blue: #00008B;
$web-money-dark-green: #2F4F4F;
$web-money-yellow: #B8860B;
$web-money-white: #ffffff;

// Achieve codes
$achieve-silver: #808080;
$achieve-golden: #DAA520;
$achieve-diamond: #4169E1;