@import 'bootstrap/dist/css/bootstrap';
@import 'custom';
@import 'colors';
@import 'custom-styles';
@import "font-awesome";

* {
  font-family: "Poppins", sans-serif;
}

.balance-diary {
  background-color: $web-money-dark-green;
  color: $web-money-white;
  border-radius: 20px !important;
 }

.my-finances-navbar{
  background-color: $web-money-dark-green;
  color: $web-money-white!important;
  border-radius: 10px;
}

.card-primary{
  border: 1px solid $web-money-blue;
  
  & > .card-header {
    background-color: $web-money-blue;
    color: $web-money-white!important;
  }
}

.card-success{
  border: 1px solid $web-money-dark-green;

  & > .card-header {
    background-color: $web-money-dark-green;
    color: $web-money-white!important;
  }
}

.card-danger{
  border: 1px solid $web-money-red;
  
  & > .card-header {
    background-color: $web-money-red;
    color: $web-money-white!important;
  }
}