@import 'sidebar';
@import url('https://fonts.googleapis.com/css?family=Poppins|Oswald');

a.navbar.navbar-brand, h1, h2, h3, h4, h5, h6 {
  color: $web-money-orange !important;
  font-family: 'Oswald', sans-serif;
}

p {
  color:$web-money-dark-green;
}

table {
  thead {
    font-size: 15px;
  }

  tr, td {
    font-size: 15px;
  }
}

.bill-status-recipe {
  background-color: $web-money-dark-green;
  color: $web-money-white;
  border-radius: 50%;
  padding: 7px;
}

.bill-status-expense {
  background-color: $web-money-red;
  color: $web-money-white;
  border-radius: 50%;
  padding: 7px;
}

.custom-card-text {
  color: $web-money-orange;
  line-height: 10px;

  p {
    color: $web-money-dark-green;
    font-size: 15px;
    line-height: 20px;
  }
}

a .dropdown-item:visited, .dropdown-item:hover {
  background-color: $web-money-dark-green;
  color: $web-money-white;
}

.navbar-link {
  color: $web-money-orange !important;
  text-decoration-line: underline;
  text-decoration-thickness: 5px;
  text-transform: uppercase;
}

.logo-style-dashboard {
  background-image: image-url('logo-fundo-verde.png');
  background-size: 192px 75px;
  background-repeat: no-repeat;
  margin: auto;
}

.navbar-filter {
  border: 1px solid $web-money-dark-green !important;
  color: $web-money-dark-green !important;
  border-radius: 10px !important;
  margin: 0px;
}

.text-web-money {
  color: $web-money-dark-green;
}

.bg-web-money-green {
  background-color: $web-money-dark-green;
  color: $web-money-white;
}