@import 'custom';
@import 'colors';

body {
  background-color: $web-money-orange;
}

/* Glassmorphism card effect */
.card-style {
  -webkit-backdrop-filter: blur(15px) saturate(96%);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  max-width: 85%;
  margin: auto;
}