// Place all the styles related to the users_backoffice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 
*= require bootstrap/dist/css/bootstrap.min
*= require font-awesome/css/font-awesome.min
*= require nprogress/nprogress
*= require bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min
*= require bootstrap-daterangepicker/daterangepicker
*= require custom
*/
