// Place all the styles related to the users_backoffice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 
*= require custom
*/

.my-finances-navbar{
  background-color: var(--my-finances-green);
  color: white!important;
  border-radius: 10px;
}

.card-primary{
  border: 1px solid var(--my-finances-blue);
  
  & > .card-header {
    background-color: var(--my-finances-blue);
    color: white!important;
  }
}

.card-success{
  border: 1px solid var(--my-finances-green);

  & > .card-header {
    background-color: var(--my-finances-green);
    color: white!important;
  }
}

.card-danger{
  border: 1px solid var(--my-finances-red);
  
  & > .card-header {
    background-color: var(--my-finances-red);
    color: white!important;
  }
}
