<div class="dropdown dropleft">
  <%= link_to '#', class:'btn btn-sm', style:'padding: 0px 10px 2px 10px;', data: { toggle: 'dropdown'}, aria: { haspopup: 'true', expanded: 'false' } do %>
    <span class='icon'><i class='fa fa-bars'></i></span>
  <% end %>
  <div class="dropdown-menu" aria-labelledby="dropdownActionButton">
    <%= link_to edit_category_path(category), class:'dropdown-item py-1' do %>
      <span class='icon'><i class="fa fa-pencil pull-right"></i></span> Editar
    <% end %>
    <%= link_to category_path(category), class:'dropdown-item py-1', method: :delete, data: { confirm: t('are_you_sure?') } do %>
      <span class='icon'><i class="fa fa-trash pull-right"></i></span> Deletar
    <% end %>
  </div>
</div>
